body {
  background-image: url('https://cdn.discordapp.com/attachments/751401341511008267/1103355741831704616/1kk.jpg');
  background-size: cover;
}

.study{
	margin-bottom:5em;
}

        .instructions{
        width:40em;
        margin-right:2em;
        margin-left:2em;
        length:50em;
        color:#fff;
        text-align:justify;
        background-color: rgba(128, 128, 128, 0.5); /* grey color with 50% opacity */
        border-radius: 10px; /* round borders */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* drop shadow effect */
        padding: 20px; /* add some padding inside the container */
        text-align: center; /* center align text inside the container */
        padding-top: 0px;
}

.parent-instructions{
	display:flex;
	justify-content: center;
	margin-top:5em;
	margin-left:center;
	
	
}

.instructions-photo{
        margin-right:2em;
        margin-left:2em;
        color:#fff;
        text-align:justify;
        background-color: rgba(128, 128, 128, 0.5); /* grey color with 50% opacity */
        border-radius: 10px; /* round borders */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* drop shadow effect */
        padding: 20px; /* add some padding inside the container */
        text-align: center; /* center align text inside the container */
        padding-top: 0px;
}
.parent-pictures{
	display:flex;
	justify-content:center;
	margin-top:5em;
}

table {
			color:#fff;
			border-collapse: collapse;
			width: 100%;
			margin-bottom: 1rem;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			font-size: 1rem;
			line-height: 1.5;
		}

		th, td {
			text-align: left;
			padding: 0.75rem;
			vertical-align: top;
			border-top: 1px solid #dee2e6;
		}

		th {
			font-weight: bold;
			border-bottom: 2px solid #dee2e6;
		}

		tr:hover {
			background-color: #a4dbb3;
		}

		a {
			text-decoration: none;
			color: #007bff;
		}

		.message{
			font-size:80px;
			color:#fff;
			font-weight:bold;
			text-shadow: 0px 0px 10px #00ccff;
			font-family: 'Montserrat Extra-Bold', sans-serif;
			text-transform:uppercase;
			letter-spacing:1px;
			display:block;
			margin:auto;
			text-align:center;
			margin-top:0.3em;
		}

img{
	padding-top:20px;
}
