* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-size: cover;
  background-position: center;
}
.multiline {
	        position:absolute;
        top:300px;
        right:600px;
        color:#fff;
        text-align:justify;
        background-color: rgba(128, 128, 128, 0.5); /* grey color with 50% opacity */
        border-radius: 10px; /* round borders */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* drop shadow effect */
        padding: 20px; /* add some padding inside the container */
        text-align: center; /* center align text inside the container */
        padding-top: 0px;

}
.fancy-button {

  background-color: #4CAF50; /* Green background color */
  border: none; /* No border */
  color: white; /* White text color */
  padding: 15px 32px; /* Large padding */
  text-align: center; /* Center text horizontally */
  text-decoration: none; /* No underline */
  display: inline-block; /* Display as inline block */
  font-size: 16px; /* Font size */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadow */
}

.fancy-button:hover {
  background-color: #3e8e41; /* Dark green background color on hover */
  color: white; /* White text color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.container {
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom:200px;
  margin-top:30px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}
