<!DOCTYPE html>
<html>
<head>
	<title>Download File Example</title>
	  <link rel="stylesheet" href="static/files.css">
</head>
<body>
	<h1>Download a File</h1>
	
	<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Download Link</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>File 1</td>
					<td><a href="file1.pdf" download>Download</a></td>
				</tr>
				<tr>
					<td>File 2</td>
					<td><a href="file2.pdf" download>Download</a></td>
				</tr>
				<tr>
					<td>File 3</td>
					<td><a href="file3.pdf" download>Download</a></td>
				</tr>
			</tbody>
		</table>
</body>
</html>
